NEXT_PUBLIC_SANITY_PROJECT_ID=m98cm2h5
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-07-19

# Existing services
RESEND_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=
NEXT_PUBLIC_STRIPE_DONATE_10=
NEXT_PUBLIC_STRIPE_DONATE_25=
NEXT_PUBLIC_STRIPE_DONATE_50=
NEXT_PUBLIC_STRIPE_DONATE_100=
NEXT_PUBLIC_STRIPE_DONATE_CUSTOM=
